AVFoundationCameraController.xcodeproj/xcuserdata/ishitoya.xcuserdatad/xcschemes/
AVFoundationCameraController.xcodeproj/xcuserdata/ishitoya.xcuserdatad/xcdebugger/
AVFoundationCameraController.xcodeproj/project.xcworkspace/xcuserdata/ishitoya.xcuserdatad/
